* {
	font-family: monospace;
}

table {
	float:left;
	table-layout:fixed;
	border-collapse: collapse; 
}
table, th, td {
	border: 1px solid gray;
}
td {
	width: 5px;
	padding: 5px;
	text-align: center;
}

#tablecodes td {
	text-align: left;
}

/* TODO: fix hover
td:hover {
	background-color: #f0f0f0
}
*/

#controls {
	clear: both; float: left; display: block; position: relative;
	width:100%;
}
#button_runsim, #button_step {
	color: green;
}
#button_resetall, #button_break {
	color: red;
}

.player1 {
	color: lightblue;
}

.player2 {
	color: thistle;
}

.memorysettings {
	border: 1px solid grey;
}



caption {
	font-weight: bold;
	font-size: 1.75em;
	text-align: center;
}
